html {
    text-size-adjust: 100%;
    font-family: Arial, Helvetica, sans-serif;
}


body {
    margin: 0px;
    padding: 0px;
    background-color: #3D2E4F;
}


header {
    overflow: hidden;
    background-color: #321D2F;


}

.wrtitle {
    text-align: center;
    margin: 50px 50px;
    font-size: 80px;
    color: white;
}

.subtitle {
    text-align: center;
    margin: 50px 50px;
    font-size: 60px;
    color: white;
}

tr{
    padding:10px;
    display: flex;
}

tbody{
    background-color: #321D2F;
    padding:10px;
    align:center;
    display: inline-block;

}

td{

    padding:10px;
    display: flex;
}

.abttable{
    margin-left: 30%;
    margin-right: 30%;
    display:block;
    justify-content: center;
    text-align: center;
    font-size: 20px;
    align:center;
    background-color: #321D2F;
    
    
}

.abting{
    display: block;
    display: inline;
    
}

.desc {
    margin: 20px 20px;
    font-size: 30px;
    color: white;
    overflow: visible;
    text-align: center;
    background-color: #321D2F;
    padding: 30px 40px;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 80px;
    margin-bottom: 40px;
}

.home3img {
    float: center;
    padding: 80px;
    margin: auto;
    display: block;
    display: flex;

}

div {
    align: center;
    margin: auto;
    display: flex;
    padding: 0px;
    justify-content: auto;
    overflow: hidden;
    display: inline-block;

}

img {
    overflow: hidden;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-color: white;
    border-width: 5px;
    border-style: solid;
}



.navbut {
    justify-items: right;
    float: right;
    justify-items: center;
    background-color: #321D2F;
    outline: none;
    border: 0;
    display: flex;

}

.nname {
    color: white;
    text-align: left;
    float: left;
    padding-left: 14px;

}

li h3:hover {
    transition: 1s;
    background-color: #111111;

}

li h3 {
    cursor: pointer;
    color: white;
    text-align: justify;
    padding: 14px;


}

a {
    text-decoration: none;
    color: white;
}