
body {
    margin: 0;
    padding: 0;
}

nav {
    overflow:hidden;
    background-color:#333333;
}
.nname{
    color:white;
    text-align:left;
    float:left;
    
}

nav h3 a:hover {
    background-color: #111111;
}

nav h3 a{
    display:block;
    color:white;
    text-align:center;
    padding:14px 16px;
    text-decoration: none;
    float:right;

}
